* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {  
    background-image:linear-gradient(to right, #008869,  #009976,
    #00A680, #00B68D, #00C69A, #00D2A3, #00E1AE, #00ECB6);
    font-family: 'Times New Roman', Times, serif;
}

p, b {
    font-family: 'Caladea', serif;
    text-align: justify;
}

h1, h2, h3 , h4 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: #B45A00;
    margin-bottom: 20px;
}
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
}

ul {
    list-style-position: inside;
}

li {
    margin: 0 0 3px 0;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

tr{
    text-align: left;
}

th{
    padding-left: 10px;
    padding-right: 10px;
    text-justify: auto;
    background-color: white;  
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    color: black;
    border-bottom: 1px solid blue;
}

table {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.link_tabla {
    text-decoration: none;
    color: black;
    font-style: normal;
}

.indice_barra {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0;
    font-style: normal;
}

.enlace {
    display: inline-block;
    background-color: #001C2C;
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.encabezado {
    background-color:#001C2C;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    font-family: 'Oswald', sans-serif;
}

.titulo {
    font-size: 80px;
    text-align: center;
    margin: 20px;
    color: white;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
    font-family: 'Oswald', sans-serif;
}

.navegacion {
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    right: 0;
    background-color: #001C2C;
    height: 40px;
    top: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.index {
    background-color: #001C2C;
    margin-top: 10px;
    height: 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 10px;
    list-style-position: outside;
}

.seccion {
    position: relative;
    display: block;
    padding: 15px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 1);
    background: white;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
}

.primera_fila_tabla {
    text-align: center;
    background-color: #191970;  
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
    color: white;
    border-bottom: 1px solid blue;
}
